@font-face {
    font-family: 'AppleSDGothicNeoL';
    src: url('AppleSDGothicNeoUL.ttf'); 
}

:root{
    --border : rgb(85, 85, 85, 0.7)
}

body {
    font-family: 'AppleSDGothicNeoL';
}


body, html{
    margin : 0;
}

.header{
    width : 1100px;
    height : 100px;
    margin : 0 auto;
    margin-top: 30px;
    display: flex;
}

.body{
    width : 1100px;
    height : 700px;
    margin : 0 auto;
}

/* header */
h1{
    font-size: 40px;
}
#month{
    margin : 27px 0px 0px 20px;
    font-size: 40px;
}

table {
    table-layout: fixed;
    width: 1100px;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th{
    border-top: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    font-size: small;
    font-weight: 600;
    padding: 5px;
}

td{
    height : 120px;
    border-bottom: 1px solid var(--border);
    border-left: 1px solid var(--border);
    border-right: 1px solid var(--border);
    padding: 10px 0 0 10px ;
    vertical-align : top; 
    /* 체크박스 위로 정렬 */
}

textarea {
    width: 95%;
    height: 90%;
    border: none;
    resize: none;	
    outline-color: white;
}

label{
    font-size: 13px;
    vertical-align: top;
}


.red{
    color: red;
}
.blue{
    color: blue;
}