@font-face {
    font-family: 'NeoDgm';
    src: url('neodgm.ttf'); 
}

:root{
    --border : rgb(85, 85, 85, 0.7)
}

body {
    font-family: 'NeoDgm';
    background-color: rgb(90, 167, 255);
    ;
}


body, html{
    margin : 0;
}

.header{
    width : 1100px;
    height : 80px;
    margin : 0 auto;
    margin-top: 30px;
    display: flex;
}

.body{
    width : 1100px;
    height : 600px;
    margin : 0 auto;
}

/* header */


/* body */

#img_emonga{
    width : 50%;
    float: right;
    transform: translate(10%, -50%);
}
#img_bubble{
    width : 106%;
}
.center{
    width: 700px;
    margin : 0 auto;
}

.container {
    position: absolute;
    top : 200px;
    width : 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
}

.quiz p{
    padding : 10px;
}
.answer{
    width : 420px;
    font-size: 17px;
    padding : 10px;
    margin : 10px;
    border-radius: 30px;
}

.answer:hover{
    background-color: black;
    color : white;
    padding : 10px;
    margin : 10px;
    border-radius: 30px;
    cursor: pointer;
}